// #1A428A = Header / primary blue
// #2F64C0 = Accent blue (icons, buttons)
// #6E93D6 = Lighter blue (gradients)
// #F4F7FB = Light grey background panels
// #FFFFFF = White (main background, text areas)
// #000000 = Black (primary text)
// #444444 = Dark grey (secondary text)

// Customize
$primary: #0033a0;
$secondary: #444444;
$success: #009a44;
// $info:          $cyan !default;
// $warning:       $yellow !default;
$danger: #c8102e;
$light: #f4f7fb;
$dark: #444444;

// import bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

$bootstrap-icons-font-dir: "../vendor/bootstrap-icons//font/fonts";
@import "../vendor/bootstrap-icons/font/bootstrap-icons";
