:root {
  --primary-color: #0033a0;
  --text-dark: #000000;
  --card-gradient-1: linear-gradient(
    180deg,
    rgba(232, 240, 249, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  --card-gradient-2: linear-gradient(
    179deg,
    rgba(232, 240, 249, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  --decoration-blue: #4a65b2;
  --decoration-light: rgba(193, 204, 229, 0.15);
  --icon-gradient: linear-gradient(
    135deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(15, 55, 153, 1) 100%
  );
  --icon-border-gradient: linear-gradient(
    135deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(15, 55, 153, 1) 100%
  );
  --border-light: #e5efff;
  --brand-blue-25: #0033a040;
}

/* Fonts */

/* Tajawal ExtraLight */
@font-face {
  font-family: "Tajawal";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/Tajawal/Tajawal-ExtraLight.ttf") format("truetype");
}

/* Tajawal Light */
@font-face {
  font-family: "Tajawal";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Tajawal/Tajawal-Light.ttf") format("truetype");
}

/* Tajawal Regular */
@font-face {
  font-family: "Tajawal";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Tajawal/Tajawal-Regular.ttf") format("truetype");
}

/* Tajawal Medium */
@font-face {
  font-family: "Tajawal";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Tajawal/Tajawal-Medium.ttf") format("truetype");
}

/* Tajawal Bold */
@font-face {
  font-family: "Tajawal";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Tajawal/Tajawal-Bold.ttf") format("truetype");
}

/* Tajawal ExtraBold */
@font-face {
  font-family: "Tajawal";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Tajawal/Tajawal-ExtraBold.ttf") format("truetype");
}

/* Tajawal Black */
@font-face {
  font-family: "Tajawal";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Tajawal/Tajawal-Black.ttf") format("truetype");
}

/* din-next-lt-arabic */
@font-face {
  font-family: "din-next-lt-arabic";
  src: url("../fonts/din-next-lt-arabic-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  /* overflow: hidden; */
  font-family: "Tajawal", sans-serif;
  font-style: normal;
  background: linear-gradient(247.31deg, #ffffff 0%, #e8f0f9 100%);
}

/* Utilization */
.text-light-blue {
  color: #2f64c0;
}

.bg-light-blue {
  background-color: #2f64c0;
}

.border-brand-blue-25 {
  border: 1px solid var(--brand-blue-25);
}

.bi {
  font-family: sans-serif;
}

.icon-bg {
  background: linear-gradient(247.31deg, #e8f0f9 0%, #ffffff 100%);
  padding: 15px;
  border-radius: 10px;
}

.dropdown-toggle::after {
  display: none !important;
}

.cursor-pointer {
  cursor: pointer;
}

.form-border-label {
  position: relative;
}

.form-border-label label {
  position: absolute;
  right: 10px;
  background: white;
  top: -15px;
  padding: 2px 8px 0 8px;
}

.form-border-label input {
  border: 1.5px solid var(--bs-primary) !important;
  border-radius: 5px !important;
}

.form-border-label select {
  border: 1.5px solid var(--bs-primary) !important;
  border-radius: 5px !important;
}

.modal.fade.show {
  backdrop-filter: blur(10px);
}

[dir="rtl"] .form-check .form-check-input {
  float: none;
  margin-left: 0;
}
.ff-tajawal {
  font-family: "Tajawal", sans-serif;
}
.ff-din-next-lt-arabic {
  font-family: "din-next-lt-arabic", sans-serif;
}

/* Utilization End ###############################  */

/* Login page */

.right-section {
  background: url("../images/login_bg.png") no-repeat center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.right-section .accessablity-icon {
  width: 60px;
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.left-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.top-nav {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.login-option {
  width: 100%;
  max-width: 600px;
}
.login-form h2 {
  font-family: "din-next-lt-arabic", sans-serif;
}

.login-paci-form {
  width: 100%;
  max-width: 600px;
}

.paci-instr-container {
  background-color: #fcfaff;
}

/* Circular List Styles */
.paci-instr-container ul {
  list-style: none;
  counter-reset: circle-counter;
}

.paci-instr-container ul li {
  counter-increment: circle-counter;
  margin-bottom: 18px;
  padding-right: 55px;
  position: relative;
  line-height: 1.5;
  font-size: 16px;
}

.paci-instr-container ul li:before {
  content: counter(circle-counter);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background: var(--bs-primary);
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

/* Hover effect */
.paci-instr-container ul li:hover:before {
  transform: translateY(-50%) scale(1.1);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.auth-option-container {
  cursor: pointer;
  background-color: #fdfcff;
  box-shadow: 0 0px 1px rgba(0, 0, 0, 0.1);
}
.auth-option-container:hover {
  box-shadow: 0 0px 1px rgba(0, 0, 0, 0.4);
}
.auth-page .open-chat-btn {
  left: 38%;
}
.open-chat-btn {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 60px;
  cursor: pointer;
  z-index: 1000;
  transition: all 0.3s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  background: linear-gradient(116deg, #4a84c1 0%, #c0dfff 133.07%);
}

.open-chat-btn-container {
  margin: 4px;
  border-radius: 50px;
  color: white;
  background: #393939;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.open-chat-btn-container .user-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 0.5px solid #ffffff;
  box-shadow: 0px 0.5px 1.9px 0px #0000000d;
  background: #ffffff;
}

.open-chat-btn-container .vector {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}

/* Login page End ###############################  */

/* Dashboard */

.sidebar {
  width: 350px;
  height: calc(100vh - 65px);
  position: fixed;
  top: 65px;
  right: -350px;
  background: linear-gradient(247.31deg, #ffffff 0%, #e8f0f9 100%);
  /* box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1); */
  transition: all 0.3s;
  z-index: 1000;
  overflow-y: auto;
}

.main-content.sidebar-open .sidebar {
  right: 0;
}

.main-content {
  margin-right: 0;
  transition: all 0.3s;
}

.main-content.sidebar-open {
  margin-right: 350px;
}

.navbar {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1030;
}

.chatSidebar .title {
  font-family: "din-next-lt-arabic";
  font-weight: 700;
  font-style: Bold;
  font-size: 22px;
  line-height: 17.93px;
  letter-spacing: 0%;
}

.chatSidebar .chat-header h5 span {
  background: linear-gradient(90deg, #32a5f3 0%, #634fe9 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.ai-span {
  background: linear-gradient(90deg, #32a5f3 0%, #634fe9 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.chat-user {
  transition: all 0.2s;
}

.chat-user:hover,
.chat-user.active {
  background-color: rgba(52, 152, 219, 0.1);
}

.unread-count {
  width: 20px;
  height: 20px;
  font-size: 12px;
  background-color: var(--bs-primary);
  color: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.nav-item {
  margin: auto 15px;
}

.nav-link {
  position: relative;
  font-family: "din-next-lt-arabic";
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.nav-link.active {
  position: relative;
  font-size: 20px;
  font-weight: bold;
  font-family: "din-next-lt-arabic";
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}
.nav-link.active::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -15px;
  width: 100%;
  height: 3px;
  background-color: var(--bs-primary);
}

.sub-header {
  background: hsla(219, 56%, 64%, 1);

  background: linear-gradient(
    45deg,
    hsla(219, 56%, 64%, 1) 0%,
    hsla(0, 0%, 100%, 1) 100%
  );

  background: -moz-linear-gradient(
    45deg,
    hsla(219, 56%, 64%, 1) 0%,
    hsla(0, 0%, 100%, 1) 100%
  );

  background: -webkit-linear-gradient(
    45deg,
    hsla(219, 56%, 64%, 1) 0%,
    hsla(0, 0%, 100%, 1) 100%
  );
}

.sub-header .chatToggle {
  display: block;
}
.main-content.sidebar-open .sub-header .chatToggle {
  display: none;
}

.main-content .page-container {
  padding: 20px;
  margin-bottom: 80px;
  overflow-y: auto;
}

.chatSidebar {
  /* height: calc(100vh - 150px); */
  direction: rtl; /* RTL layout for Arabic */
}

.chat-body {
  min-height: 0; /* ensures scroll works in flex */
}

.chat-message .bubble {
  display: inline-block;
  padding: 10px 14px;
  max-width: 80%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}

.chat-message.sent {
  text-align: left;
}

.chat-message.sent .bubble {
  width: 90;
  height: 41;
  padding-top: 15px;
  padding-right: 10px;
  padding-bottom: 15px;
  padding-left: 10px;
  gap: 10px;
  opacity: 1;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background: #ffffff;
  box-shadow: 0px 2px 14px 0px #63638b14;
}

.chat-message.received {
  text-align: right;
}

.chat-message.received .bubble {
  width: 90;
  height: 41;
  padding-top: 15px;
  padding-right: 10px;
  padding-bottom: 15px;
  padding-left: 10px;
  gap: 10px;
  opacity: 1;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

  background: #ffffff;
  box-shadow: 0px 2px 14px 0px #63638b14;
}

.chat-suggestions button {
  white-space: nowrap;
}

.chat-input {
  position: sticky;
  bottom: 0;
}

.chat-input .input {
  justify-content: space-between;
  padding-top: 18px;
  padding-right: 19px;
  padding-bottom: 18px;
  padding-left: 19px;
  opacity: 1;
  border-radius: 10px;
  box-shadow: 0px 4px 14px 0px #006ed226;
  background: #ffffff;
  position: relative;
}

.chat-input .input .input-typing {
  opacity: 1;
  border-radius: 10px;
  padding: 14px 14px 25px 10px;
  background: #006ed20d;
  position: absolute;
  width: 100%;
  top: -50px;
  right: 0;
  z-index: -1;
}

.chat-input .input textarea {
  resize: none;
}
.chat-input .input textarea:focus-visible {
  outline: transparent;
}

.chat-input .send-btn {
  box-shadow: 0px 4px 4px 0px #006ed20d;
}

.chat-input .send-options i {
  width: 30px;
  height: 30px;
  gap: 10px;
  opacity: 1;
  border-radius: 10px;
  border-width: 1px;
  padding: 10px;
  background: #ffffff;
  border: 1px solid #dae1e5;
}

/* Section Header */
.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 66px;
}

.section-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 2.857142857142857em;
  color: var(--bs-primary);
  margin: 0;
  text-align: center;
  letter-spacing: 0;
}

.section-description {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6em;
  color: var(--bs-dark);
  margin: 0;
  text-align: center;
  letter-spacing: 0;
}

/* Service Card */
.service-card {
  width: 400px;
  height: 446px;
  background: linear-gradient(180deg, #e8f0f9 0%, #ffffff 100%);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

/* Service Icon Container */
.service-icon-container {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(15, 55, 153, 0.1) 100%
  );
  border: 1px solid transparent;
  background-image: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(15, 55, 153, 0.2) 100%
  );
  border-radius: 12.6px;
  padding: 24px;
  margin-top: 156px;
}

.service-icon {
  width: 62px;
  height: 62px;
}

/* Service Content */
.service-content {
  background-image: url("../images/img_mask_group.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 98px 40px;
  margin-top: -66px;
  width: 100%;
  border-radius: 0 0 20px 20px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.service-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 58px;
  text-align: center;
  direction: rtl;
}

.service-name {
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3333333333333333em;
  color: #000000;
  text-align: center;
  padding: 0 56px;
  margin: 0;
  letter-spacing: 0;
}

/* Service Link */
.service-link {
  display: flex;
  align-items: center;
  gap: 14px;
  text-decoration: none;
  transition: all 0.3s ease;
  direction: rtl;
  justify-content: center;
  flex-direction: row;
}

.service-link:hover {
  transform: translateY(-2px);
}

.service-arrow {
  width: 5.21px;
  height: 11px;
  transform: scaleX(-1);
}

.service-link-text {
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.6em;
  color: #0033a0;
  letter-spacing: 0;
  text-decoration: none;
  text-align: right;
}

/* Service Card Horizontal*/

.horiz-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.service-card-horiz {
  background: linear-gradient(179.98deg, #e8f0f9 -1.43%, #ffffff 99.98%);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}

/* Service Icon Container */
.service-card-horiz .service-icon-container {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(15, 55, 153, 0.1) 100%
  );
  border: 1px solid transparent;
  background-image: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(15, 55, 153, 0.2) 100%
  );
  border-radius: 12.6px;
  padding: 24px;
  margin: 50px !important;
  margin-bottom: 0px !important;
}

.service-card-horiz .service-icon {
  width: 62px;
  height: 62px;
}

.service-card-horiz .brand-mask {
  background-image: url(../images/img_mask_group.png);
  padding: 98px 40px;
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  top: 87%;
  left: 0;
}

.service-card-horiz .service-name {
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  margin: 30px auto;
  padding: 0 !important;
  letter-spacing: 0;
}

.bg-vector-container {
  background: linear-gradient(179.98deg, #e8f0f9 -1.43%, #ffffff 99.98%);
  background-image: url(../icons/logo_mask.png),
    linear-gradient(179.98deg, #e8f0f9 -1.43%, #ffffff 99.98%);
  background-repeat: no-repeat;
  background-size: 55% auto, cover;
  background-position: left bottom;
}

/* Form content */

.form-action-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
  z-index: 999;
}

.form-title-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}
.form-title-divider {
  background: linear-gradient(270deg, rgba(0, 51, 160, 0.75) 0%, #0033a0 100%);
  height: 6px;
  width: 120px;
  border-radius: 10px;
  margin: 12px;
}

.form-card {
  box-shadow: 0px 8px 8px -4px #006ed208;
  box-shadow: 0px 20px 24px -4px #006ed214;
  border-radius: 16px;
  opacity: 1;
}

.form-card-title {
  border-bottom: 1px solid var(--Brand-Blue-25, #0033a040);
  width: 866;
  height: 120;
  opacity: 1;
  border-bottom-width: 1px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  gap: 16px;
  padding-top: 32px;
  padding-right: 24px;
  padding-bottom: 32px;
  padding-left: 24px;
}

.form-card-title .icon {
  background: linear-gradient(247.31deg, #e8f0f9 0%, #ffffff 100%);
  padding: 15px;
  border-radius: 10px;
  margin-right: 12px;
}
.form-card-title .icon img {
  height: 26px;
}
.form-card-body {
  background-color: white;
  gap: 20px;
  opacity: 1;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  padding: 24px;
}

/* Civil Id Verification */

.verify-accordion {
}

.verify-accordion .accordion-item {
  margin: 10px auto;
  width: 886;
  height: 348;
  border-radius: 16px;
  opacity: 1;
  background: var(--Secondary-White-100, #ffffff);
  box-shadow: 0px 8px 8px -4px #10182808;
  box-shadow: 0px 20px 24px -4px #10182814;
}

.verify-accordion .accordion-item .accordion-header {
  width: 886;
  height: 134;
  gap: 16px;
  opacity: 1;
  padding-top: 32px;
  padding-right: 24px;
  padding-bottom: 32px;
  padding-left: 24px;
  border-bottom-width: 1px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background: #ffffff;
  border-bottom: 1px solid var(--Brand-Blue-25, #0033a040);
}

.verify-accordion .accordion-item .accordion-header.collapsed {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border-bottom-width: 0;
}

.verify-accordion .accordion-item .accordion-header .icon {
  background: linear-gradient(247.31deg, #e8f0f9 0%, #ffffff 100%);
  padding: 15px;
  border-radius: 10px;
  margin-right: 12px;
}
.verify-accordion .accordion-item .accordion-header .icon img {
  height: 26px;
}

.verify-accordion .accordion-item .accordion-body {
  width: 866;
  height: 214;
  gap: 20px;
  opacity: 1;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  padding: 24px;
  background: #ffffff;
}

.civilId-info label {
  color: var(--bs-secondary);
}

.civilId-info .input {
  border-radius: 8px;
  padding: 8px 12px;
  opacity: 1;
  border-width: 1px;
  background: #0033a01a;
  border: 1px solid var(--Brand-Blue-25, #0033a040);
}

.popular-poa-card {
  width: 405;
  height: 188;
  border-radius: 12px;
  opacity: 1;
  padding: 16px;
  background: #ffffff;
  box-shadow: 0px 8px 8px -4px #10182808;
  box-shadow: 0px 20px 24px -4px #0033a014;
}

.result-container {
  border-radius: 5px;
  gap: 18px;
  opacity: 1;
  padding-top: 9px;
  padding-right: 20px;
  padding-bottom: 9px;
  padding-left: 20px;
  border-width: 1px;
  background: #ffffff;
  border: 1px solid #d1dadf;
  box-shadow: 0px 4px 10px 0px #00000012;
}

.result-container .popular-poa-card {
  border: 1px solid #e5efff;
}

.tab-option {
  background-color: transparent;
}
.tab-option .nav-pills .nav-link {
  border-radius: 0.375rem;
  color: var(--bs-primary);
  background: var(--Secondary-White-100, #ffffff);
  border: 1px solid #e5efff;
}
.tab-option .nav-pills .nav-item {
  margin: auto 5px;
}

.tab-option .nav-pills .nav-link.active {
  color: #fff;
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.05);
}

.tab-option .nav-link.active::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -15px;
  width: 100%;
  height: 0 !important;
  background-color: transparent !important;
}
