/* @import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap'); */

/* Fonts */

/* Tajawal ExtraLight */
@font-face {
  font-family: "Tajawal";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/Tajawal/Tajawal-ExtraLight.ttf") format("truetype");
}

/* Tajawal Light */
@font-face {
  font-family: "Tajawal";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Tajawal/Tajawal-Light.ttf") format("truetype");
}

/* Tajawal Regular */
@font-face {
  font-family: "Tajawal";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Tajawal/Tajawal-Regular.ttf") format("truetype");
}

/* Tajawal Medium */
@font-face {
  font-family: "Tajawal";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Tajawal/Tajawal-Medium.ttf") format("truetype");
}

/* Tajawal Bold */
@font-face {
  font-family: "Tajawal";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Tajawal/Tajawal-Bold.ttf") format("truetype");
}

/* Tajawal ExtraBold */
@font-face {
  font-family: "Tajawal";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Tajawal/Tajawal-ExtraBold.ttf") format("truetype");
}

/* Tajawal Black */
@font-face {
  font-family: "Tajawal";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Tajawal/Tajawal-Black.ttf") format("truetype");
}

@font-face {
  font-family: "din-next-lt-arabic";
  src: url("../fonts/din-next-lt-arabic-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  overflow: hidden;
  font-family: "Tajawal", sans-serif;
  font-style: normal;
}

/* Utilization */
.text-light-blue {
  color: #2f64c0;
}

.bg-light-blue {
  background-color: #2f64c0;
}

.bi {
  font-family: sans-serif;
}

.cursor-pointer {
  cursor: pointer;
}

/* Utilization End ###############################  */

/* Login page */

.right-section {
  background: url("../images/login_bg.png") no-repeat center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.right-section .accessablity-icon {
  width: 60px;
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.left-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.top-nav {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.login-option {
  width: 100%;
  max-width: 600px;
}
.login-form h2 {
  font-family: "din-next-lt-arabic", sans-serif;
}

.login-paci-form {
  width: 100%;
  max-width: 600px;
}

.paci-instr-container {
  background-color: #fcfaff;
}

.paci-instr-container ul {
  list-style: none;
  padding: 0;
}

.paci-instr-container ul p .count {
  background-color: var(--bs-primary);
  border-radius: 50%;
  padding: 10px 15px;
  font-family: Tajawal;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  text-align: center;
  color: white; 
}

.auth-option-container {
  cursor: pointer;
  background-color: #fdfcff;
  box-shadow: 0 0px 1px rgba(0, 0, 0, 0.1);
}
.auth-option-container:hover {
  box-shadow: 0 0px 1px rgba(0, 0, 0, 0.4);
}

/* Login page End ###############################  */